<html>
<head>
<style>
html {
    background-color: #0d1117;
}

.main {
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
}

div {
    display: flex;
}

a, ol {
    text-decoration: none;
    color: #ffa657;
}

a:hover {
    color: #cf8647;
}

.crashId {
    width: 72px;
    margin: 0 0 0 6;
}

.date {
    width: 200px;
}

.userId {
    width: auto;
}

</style>
</head>
<body>
    <div class="main">
        <ol id="crashes"></ol>
    </div>
</body>
<script>
    const ul = document.getElementById("crashes");
    const addCrash = (crash) => {
        const li = document.createElement("li");
        const div = document.createElement("div");
        const crashId = document.createElement("a");
        crashId.classList.add("coloumn");
        crashId.classList.add("crashId");
        crashId.setAttribute("href", "/crashes/" + crash.crashId);
        crashId.innerText = crash.crashId;
        const date = document.createElement("div");
        date.classList.add("coloumn");
        date.classList.add("date");
        date.innerText = new Date(crash.uploadDate).toLocaleString();
        const userId = document.createElement("a");
        userId.setAttribute("href", "/crashes?userId=" + crash.userId);
        userId.classList.add("coloumn");
        userId.classList.add("userId");
        userId.innerText = crash.userId;
        div.appendChild(crashId);
        div.appendChild(date);
        div.appendChild(userId);
        li.appendChild(div);
        ul.appendChild(li);
    }
    const fetchCrashes = async () => {
        try {
            ul.innerHTML = "";
            fetch("/api/crashes?limit=200&" + new URLSearchParams(window.location.search).toString())
            .then(response => response.json())
            .then(crashes => {
                crashes.forEach(crash => addCrash(crash));
            });
        } catch(err) {
            console.error("Error: " + err);
        }
    }
    fetchCrashes();
    setInterval(fetchCrashes, 60 * 1000);
</script>
</html>