<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>
            html {
                background-color: #0d1117;
                font-family: "Poppins", sans-serif;
            }

            body {
                padding: 42vh 32px;
                font-size: 14px;
                text-align: center;
            }

            .main {
                display: inline-block;
                text-align: left;
                background: #262a30;
                padding: 16px;
                width: 450px;
                position: relative;
                border-radius: 3px;
            }

            button {
                color: #ffa657;
                background-color: #141b25;
                border: none;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

            button:hover {
                background-color: #1f2a3a;
            }

            button:disabled {
                background-color: #363a3f;
                cursor: default;
            }

            button.active {
                background-color: #30363d;
            }

            #chooseButton {
                float: left;
            }

            #uploadButton {
                float: right;
            }

            input[type="file"] {
                display: none;
            }

            #choose {
                color: #ffa657;
                display: inline-block;
                padding: 11px 16px;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <button id="chooseButton" onclick="choose()">Choose</button>
            <label id="choose">
                No file selected
            </label>
            <button disabled id="uploadButton" onclick="upload()">Upload</button>
            <input type="file" id="fileInput" onChange="fileChange()"/>
        </div>
    </body>
    <script>

        const choose = () => {
            let fileInput = document.getElementById("fileInput");
            fileInput.click();
        }

        const fileChange = () => {
            let fileInput = document.getElementById("fileInput");
            let uploadButton = document.getElementById("uploadButton");
            let choose = document.getElementById("choose");
            uploadButton.disabled = fileInput.files.length == 0;
            if(uploadButton.disabled) {
                choose.innerText = "No file selected";
            } else {
                choose.innerText = fileInput.files[0].name;
            }
        }

        const upload = () => {
            let fileInput = document.getElementById("fileInput");
        
            if (fileInput.files.length === 0) {
                alert("No file");
                return;
            }
            let file = fileInput.files[0];
        
            let formData = new FormData();
            formData.set("debugFile", file);
        
            axios.post("../api/uploadDebug", formData)
            .then(res => {
                alert("Uploaded: " + res.data.buildId);
            })
            .catch(err => {
                alert(err.response.data.message);
            })
        }
    
    </script>
</html>
